<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  <h1>Update du client</h1>
    <p>ID du client : {{ client.id }}</p>
    <p>Nom du client : {{ client.nom }}</p>
    <p>ID du client : {{ client.prenom }}</p>
    <p>Nom du client : {{ client.adresse }}</p>
    <p>ID du client : {{ client.mail }}</p>
    <p>Nom du client : {{ client.contact }}</p>
</body>
</html>