
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'form_insert_race' %}">ajouter race</a><br>
    <a href="{% url 'select_race' %}">listes race</a><br>
    <a href="{% url 'form_insert_client' %}">ajouter client</a><br>
    <a href="{% url 'select_client' %}">listes client</a><br>
    <a href="{% url 'form_insert_patient' %}">ajouter patient</a><br>
    <a href="{% url 'select_patient' %}">listes patient</a><br>
</body>
</html>